<nav class="navbar bg-dark bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a *ngIf="loginUser?.token" class="navbar-brand" routerLink="welcome">{{loginUser.name}}</a>
      <button *ngIf="!loginUser?.token" type="button" class="login btn btn-primary" (click)="navigateTo('login')">
        <img src= "../../../assets/icons/person-lines-fill.svg" alt="user"/>
        Log In
      </button>
      <button *ngIf="loginUser?.token" type="button" class="login btn btn-primary" (click)="logOutUser()">
        <img src= "../../../assets/icons/person-lines-fill.svg" alt="user"/>
        Log Out
      </button>
      <button type="button" class="btn btn-success" (click)="navigateTo('login/register')">
        <img src= "../../../assets/icons/person-lines-fill.svg" alt="user"/>
        Sign Up
      </button>
    </div>
  </nav>